@import 'abstracts/constants';

.change-forgotten-password {
  margin: 0 auto;
  max-width: $container-small-width;
  &__container {
    margin: $margin-main $margin-side;
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .content {
      &__header {
        display: flex;
        justify-content: center;
        .header {
          &__title {
            &::first-letter {
              text-transform: capitalize;
            }
            display: inline-block;
            color: $dark-text;
          }
        }
      }
      &__container {
        width: 50%;
        margin: $margin-main 0;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        .container {
          &__form {
            display: flex;
            flex-direction: column;
            .form {
              &__item { }
              &__btn {
                &--wrapper {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  margin-top: $margin-side;
                }
                &--hidden {
                  visibility: hidden;
                }
                max-height: 40px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
