@import 'abstracts/constants';

.reset-password {
  padding: $margin-content;
  &__form {
    display: flex;
    flex-direction: column;
    .form {
      &__button {
        margin-top: $margin-side;
      }
    }
  }
}
