<div class="reset-password">
  <form class="reset-password__form form" [formGroup]="resetPasswordFormGroup">
    <mat-form-field class="form__item">
      <mat-label>{{'EMAIL' | translate}}</mat-label>
      <input required matInput formControlName="email">
      <mat-error *ngIf="resetPasswordFormGroup.hasError('email', 'email')">
        {{ 'EMAIL_ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="resetPasswordFormGroup.hasError('required', 'email')">
        {{ 'REQUIRED_ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <button
      *ngIf="isResetPasswordRequestCompleted; else spinner"
      (click)="resetPasswordHandle()"
      mat-stroked-button
      color="primary"
      class="form__button"
      [disabled]="!resetPasswordFormGroup.valid"
    >
      {{'RESET_PASSWORD' | translate}}
    </button>
    <ng-template #spinner>
      <app-progress-spinner></app-progress-spinner>
    </ng-template>
  </form>
</div>
